*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.container {
    margin: 0 auto;
    width: 1200px;
}
.header {
    margin-top: 32px;
    background-color: #EDF1F3;
    height: 80px;
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header_ready {
    font-family: "Raleway", sans-serif;
}
.header p {
    font-size: 17px;
    font-weight: 400;
}
.header_services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 78px;
}
.header_services p {
    font-family: "Raleway", sans-serif;
}
.header_job {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 132px;
}
.header_job p {
    font-family: "Raleway", sans-serif;
}
.header_company {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 119px;
}
.header_company p {
    font-family: "Raleway", sans-serif;
}
.phone {
    background-color: #046FB3;
    border-radius: 32px;
    font-family: "Montserrat", sans-serif;
    display: flex;
    width: 222px;
    height: 36px;
    align-items: center;
    justify-content: space-evenly;
}
.phone p {
    color: white;
    font-size: 18px;
}
.services {
    margin-top: 40px;
    background-color: #EDF2F5;
    height: 447px;
    border-radius: 24px;
    display: flex;
    justify-content: space-evenly;
}

.services_towtruck-text {
    height: 207px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.services_towtruck-text-h {
    width: 634px;
    font-size: 44px;
    font-weight: 700;
}
.services_towtruck-text-h>span {
    color: #046FB3;
}
.services_towtruck-text-l {
    font-size: 24px;
    font-weight: 400;
}
.services img {
    margin-top: 24px;
    width: 462px;
    height: 399px;
}
.services_phone {
    height: 102px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.services_input {
    width: 594px;
    display: flex;
    justify-content: space-between;
}
.services_cut input {
    padding-left: 16px;
    font-size: 16px;
    width: 359px;
    height: 48px;
    border: 1px #D8E9FF solid;
    border-radius: 6px;
}
.services_cut input:hover {
    border: 1px #046FB3 solid;
}
.services_cut button {
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    width: 207px;
    height: 48px;
    border: none;
    background-color: #046FB3;
    color: white;
    transition: 0.2s;
    cursor: pointer;
}
.services_cut button:hover {
    border: #046FB3 1px solid;
    color: #046FB3;
    background-color: #FFFFFF;
    transition: 0.2s;
}
.services_click {
    width: 392px;
    font-size: 12px;
    color: #132B3D;
}
.services_towtruck {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.dignities {
    margin-top: 88px;
}
.dignities_p {
    font-size: 40px;
    font-weight: 700;
}
.dignities_cards {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card {
    width: 383.68px;
    height: 232px;
    border-radius: 16px;
    background-color: #EDF2F5;
}
.dignities_cards2 {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.number {
    margin-top: 24px;
    width: 45px;
    height: 35px;
    border: 1px #046FB3 solid;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.number p {
    color: #046FB3;
    font-size: 24px;
    font-weight: 500;
}
.container_card {
    margin: 0 auto;
    width: 335.68px;
}
.card_flex {
    height: 205px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card_flex2 {
    height: 185px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card_flex h3 {
    font-size: 24px;
    font-weight: 600;
}
.card_flex2 h3 {
    font-size: 24px;
    font-weight: 600;
}
.card_flex3 {
    height: 222px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card_flex3 h3 {
    font-size: 24px;
    font-weight: 600;
}


.services_cars {
    margin: 0 auto;
    margin-top: 88px;
    height: 868px;
    width: 1440px;
    border-radius: 12px;
    background-color: #071C2C;
}

.services_cars-text {
    padding-top: 56px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.services_cars-text p {
    width: 570px;
    color: white;
    font-size: 40px;
    font-weight: 700;
}
.services_cars-cadrs {
    margin-top: 72px;
    display: flex;
    justify-content: space-between;
}
.services_cars-cadrs2 {
    margin-top: 220px;
    display: flex;
    justify-content: space-between;
}
.white_card {
    z-index: 1;
    position: absolute;
    width: 384px;
    height: 147px;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.blue_card1 {
    position: relative;
    width: 384px;
    height: 103px;
    background-color: #046FB3;
    border-radius: 16px;
}
.white_card1 {
    top: 78px;
    position: absolute;
    z-index: 1;
    width: 384px;
    height: 147px;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.blue_card1 img {
    position: absolute;
    bottom: 0px;
}
.blue_card2 {
    position: relative;
    width: 384px;
    height: 103px;
    background-color: #046FB3;
    border-radius: 16px;
}
.blue_card2 img {
    position: absolute;
    bottom: 0px;
}
.white_card2 {
    top: 78px;
    position: absolute;
    z-index: 1;
    width: 384px;
    height: 147px;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.img_road {
    position: absolute;
    bottom:-62px;
}
.sign {
    top: -16px;
    position: absolute;
    left: 112px;
    width: 102px;
}
.blue_card3 {
    position: relative;
    width: 384px;
    height: 103px;
    background-color: #046FB3;
    border-radius: 16px;
}
.container_card3 {
    width: 294px;
    margin: 0 auto;

}
.container_card3 h3 {
    padding-top: 26px;
    font-size: 22px;
    font-weight: 600;
}
.container_card3 p {
    padding-top: 16px;
    font-size: 16px;
    font-weight: 400;
}
.container_card2 {
    width: 336px;
    margin: 0 auto;
}
.container_card2 h3 {
    width: 336px;
    padding-top: 26px;
    font-size: 22px;
    font-weight: 600;
}
.container_card2 p {
    width: 294px;
    padding-top: 16px;
    font-size: 16px;
    font-weight: 400;
}
.card_price {
    top: 24px;
    left: 213px;
    position: absolute;
    width: 147px;
    height: 35px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    z-index: 10;
    align-items: center;
}
.card_price h2 {
    font-size: 22px;
    font-weight: 500;
}
.card_price h2>span {
    font-size: 16px;
    font-weight: 400;
}
.order {
    border-radius: 16px;
    position: relative;
    margin-top: 88px;
    height: 250px;
    background-color: #EDF2F5;
}
.order_car{
    border-radius: 16px;
    top: 26px;
    position: absolute;
}
.order_man {
    top: 0px;
    border-radius: 16px;
    left: 919px;
    position: absolute;
}
.order_text{
    position: relative;
    z-index: 10;
    width: 1136px;
    margin: 0 auto;
    height: 218px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.order_text h2{
    width: 520px;
    color: #0B202F;
    padding-top: 32px;
    font-size: 32px;
    font-weight: 600;
}
.order_text h2>span {
    color: #046FB3;
}
.order_text p {
    font-size: 16px;
    font-weight: 400;
}
.order_inputs input {
    z-index: 999;
    padding-left: 16px;
    font-size: 16px;
    width: 328px;
    font-weight: 400;
    height: 48px;
    border: 1px #D8E9FF solid;
    border-radius: 6px;
}
.order_inputs input:hover {
    border: 1px #046FB3 solid;
}
.order_inputs button {
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    width: 220px;
    height: 48px;
    background-color: #046FB3;
    cursor: pointer;
    transition: 0.2s;
}
.order_inputs button:hover {
    border: #046FB3 1px solid;
    color: #046FB3;
    background-color: #FFFFFF;
    transition: 0.2s;
}
.cars {
    margin-top: 133px;
    height: 746px;
}
.cars_cards {
    height: 638px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.cars_cards-first {
    display: flex;
    justify-content: space-between;
}
.cars_cards-blue {
    position: relative;
    border-radius: 10px;
    width: 282px;
    height: 84px;
    background-color: #046FB3;
}
.cars_cards-white {
    z-index: 1;
    top: 68px;
    position: absolute;
    border-radius: 10px;
    width: 282px;
    height: 122px;
    background-color: #EDF2F5;
}
.cars_cards-blue img {
    position: absolute;
    bottom: 17px;
    left: 11px;
}
.cars_cards-blue2 {
    position: relative;
    border-radius: 10px;
    width: 282px;
    height: 84px;
    background-color: #046FB3;
}
.cars_cards-blue2 img {
    position: absolute;
    bottom: 17px;
}
.cars_cards-blue3 {
    position: relative;
    border-radius: 10px;
    width: 282px;
    height: 84px;
    background-color: #046FB3;
}
.cars_cards-white3 {
    z-index: 1;
    top: 68px;
    position: absolute;
    border-radius: 10px;
    width: 282px;
    height: 122px;
    background-color: #EDF2F5;
}
.cars_cards-blue3 img {
    z-index: 0;
    position: absolute;
    bottom: -4px;
    left: 7px;
}
.cars_cards-blue4 {
    position: relative;
    border-radius: 10px;
    width: 282px;
    height: 84px;
    background-color: #046FB3;
}
.cars_cards-white4 {
    z-index: 1;
    top: 68px;
    position: absolute;
    border-radius: 10px;
    width: 282px;
    height: 122px;
    background-color: #EDF2F5;
}
.cars_cards-blue4 img {
    z-index: 0;
    position: absolute;
    bottom: -26px;
    left: 9px;
}
.cars_cards-blue5 {
    position: relative;
    border-radius: 10px;
    width: 282px;
    height: 84px;
    background-color: #046FB3;
}
.cars_cards-blue5 img {
    z-index: 0;
    position: absolute;
    bottom: 17px;
    left: 4px;
}
.cars_container {
    height: 98px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 234px;
    margin: 0 auto;
}
.cars_container h3 {
    padding-top: 24px;
    font-size: 22px;
    font-weight: 600;
}
.cars_container div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 147px;
    height: 35px;
    border-radius: 6px;
    background-color: #FFFFFF;
}
.cars_container div p {
    font-size: 22px;
    font-weight: 600;
}
.cars_container div p>span {
    font-size: 22px;
    font-weight: 500;
}
.reviews {
    margin-top: 120px;
    height: 1033px;
    background-color: #EEF3F6;
}
.reviews_slider {
    height: 418px;
}
.reviews_slider p {
    padding-top: 72px;
    font-size: 40px;
    font-weight: 700;
}
.reviews_card {
    width: 384px;
    height: 264px;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.reviews_container {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding-top: 24px;
    width: 336px;
    height: 64px;
    margin: 0 auto;
}
.reviews_text p {
    padding-top: 0px;
    font-size: 17px;
    font-weight: 600;
    color: #046FB3;
}
.reviews_text {
    width: 260px;
    height: 44px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;
}
.stars {
    width: 228px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.stars p {
    display: flex;
    align-items: flex-end;
    font-size: 14px;
    font-weight: 400;
}
.stars div {
    display: flex;
    align-items: flex-end;
}
.rewiws_textp p {
    width: 336px;
    padding-top: 16px;
    font-size: 16px;
    font-weight: 400;
}
.rewiws_textp {
    display: flex;
    justify-content: center;
}
.reviews_cards {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}
.button_slider {
    display: flex;
    justify-content: space-between;
}
.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 73px;
    width: 112px;
}
.buttons_1 {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
}
.buttons_2 {
    background-color: #FFFFFF;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
}
.reviews_imgs {
    margin-top: 56px;
    display: flex;
    justify-content: space-between;
}
.reviews_imgs div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.map {
    display: flex;
    justify-content: center;
    height: 504px;
}
footer {
    height: 300px;
    margin-top: 64px;
}
.logo {
    height: 202px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.footer_adress {
    height: 72px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.footer_adress p {
    font-size: 16px;
    font-weight: 500;
    color: #5F84A0;
}
.footer_adress h6 {
    width: 292px;
    font-size: 18px;
    font-weight: 500;
}
.footer_chelzap-alcon {
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer_chelzap {
    font-size: 16px;
    font-weight: 500;
    color: #5F84A0;
}
.footer_alcon {
    font-size: 16px;
    font-weight: 500;
    color: #BED0DB;
}
.logo img {
    height: 23px;
    width: 195px;
}
.footer {
    display: flex;
    justify-content: space-between;
}
.footer_variants {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 166px;
}
.footer_contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer_card1 {
    display: flex;
    align-items: center;
    border-radius: 12px;
    width: 384px;
    height: 53px;
    background-color: #F2F6F9;
}
.footer_contacts div img {
    padding-left: 8px;
}
.footer_contacts-inf {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 41px;
    padding-left: 16px;
}
.footer_contacts-inf h2 {
    font-weight: 600;
    font-size: 20px;
    color: #046FB3;
}
.footer_contacts-inf p {
    font-size: 14px;
    font-weight: 500;
    color: #5F84A0;
}
.footer_card3 {
    display: flex;
    align-items: center;
    border-radius: 12px;
    width: 384px;
    height: 53px;
    background-color: #F2F6F9;
}
.footer_card3 p {
    padding-left: 16px;
    font-size: 20px;
    font-weight: 500;
}