*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
a {
    text-decoration: none;
}
.container {
    margin: 0 auto;
    width: 1200px;
}
.container_footer {
    width: 1200px;
    margin: 0 auto;
}
.container4 {
    margin: 0 auto;
    width: 1200px;
}
.second_header {
    display: none;
}
.header2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 532px;
    width: 100%;
    background-color: #FFFFFF;
}
.logo_2 {
    width: 100%;
    margin-top: 32px;
    background-color: #EDF1F3;
    height: 80px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img_1 {
    padding-left: 32px;
}
.img_2 {
    cursor: pointer;
    padding-right: 32px;
}
.footer_variants2 {
    width: 420px;
    display: flex;
    align-items: center;
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 166px;
}
.footer_contacts2 {
    margin-top: 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.phone2 {
    margin-top: 48px;
    background-color: #046FB3;
    border-radius: 32px;
    font-family: "Montserrat", sans-serif;
    display: flex;
    width: 222px;
    height: 36px;
    align-items: center;
    justify-content: space-evenly;
}
.phone2 p {
    color: white;
    font-size: 18px;
}
.header {
    margin-top: 32px;
    background-color: #EDF1F3;
    height: 80px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
}
.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1136px;
}
.header_ready {
    color: black;
    font-family: "Raleway", sans-serif;
}
.header p {
    font-size: 17px;
    font-weight: 400;
}
.header_menu-navigation {
    width: 549px;
    display: flex;
    justify-content: space-between;
}
.phone img {
    padding-left: 5px;
}
.phone {
    background-color: #046FB3;
    border-radius: 32px;
    font-family: "Montserrat", sans-serif;
    display: flex;
    width: 222px;
    height: 36px;
    align-items: center;
    justify-content: space-evenly;
}
.phone p {
    color: white;
    font-size: 18px;
    padding-right: 7px;
    padding-bottom: 3px;
}
.services {
    margin-top: 40px;
    background-color: #EDF2F5;
    height: 447px;
    border-radius: 24px;
    display: flex;
    justify-content: space-evenly;
}

.services_towtruck-text {
    height: 207px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.services_towtruck-text-h {
    width: 634px;
    font-size: 44px;
    font-weight: 700;
}
.services_towtruck-text-h>span {
    color: #046FB3;
}
.services_towtruck-text-l {
    font-size: 24px;
    font-weight: 400;
}
.img_none {
    width: 462px;
    height: 399px;
}
.services_phone {
    padding-bottom: 10px;
    width: 635px;
    height: 102px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.services_input {
    width: 594px;
    display: flex;
    justify-content: space-between;
}
.services_cut input {
    padding-left: 16px;
    font-size: 16px;
    width: 342px;
    height: 48px;
    border: 1px #D8E9FF solid;
    border-radius: 6px;
}
.services_cut input:hover {
    border: 1px #046FB3 solid;
}
.button_adaptation {
    display: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    width: 227px;
    height: 48px;
    border: none;
    background-color: #046FB3;
    color: white;
    transition: 0.2s;
    cursor: pointer;
}
.button_adaptation:hover {
    border: #046FB3 1px solid;
    color: #046FB3;
    background-color: #FFFFFF;
    transition: 0.2s;
}
.button_1200px{
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    width: 227px;
    height: 48px;
    border: none;
    background-color: #046FB3;
    color: white;
    transition: 0.2s;
    cursor: pointer;
}
.button_1200px:hover{
    border: #046FB3 1px solid;
    color: #046FB3;
    background-color: #FFFFFF;
    transition: 0.2s;
}
.services_click {
    width: 392px;
    font-size: 12px;
    color: #132B3D;
}
.services_adaptation{
    display: none;
    width: 392px;
    font-size: 12px;
    color: #132B3D;
}
.services_towtruck {
    padding-top: 7px;
    padding-left: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.dignities {
    margin-top: 88px;
}
.dignities_p {
    font-size: 40px;
    font-weight: 700;
}
.dignities_cards {
    margin-top: 26px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card {
    margin-top: 24px;
    width: 383.68px;
    height: 232px;
    border-radius: 16px;
    background-color: #EDF2F5;
}
.dignities_cards2 {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.number {
    margin-top: 24px;
    width: 43px;
    height: 33px;
    border: 1.6px #046FB3 solid;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.number p {
    color: #046FB3;
    font-size: 24px;
    font-weight: 500;
}
.container_card {
    margin: 0 auto;
    width: 335.68px;
}
.card_flex {
    height: 205px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card_flex2 {
    height: 185px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card_flex3 {
    height: 222px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card_flex-text {
    font-size: 24px;
    font-weight: 600;
}
.services_cars {
    margin: 0 auto;
    margin-top: 106px;
    height: 868px;
    width: 1440px;
    border-radius: 12px;
    background-color: #071C2C;
}
.services_cars-text {
    padding-top: 56px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.services_cars-text p {
    width: 570px;
    color: white;
    font-size: 40px;
    font-weight: 700;
}
.services_cars-cadrs {
    row-gap: 81px;
    margin-top: 71px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}
.img_road {
    position: absolute;
    bottom:-62px;
}
.sign {
    top: -16px;
    position: absolute;
    left: 112px;
    width: 102px;
}
.order {
    border-radius: 16px;
    position: relative;
    margin-top: 88px;
    height: 250px;
    background-color: #EDF2F5;
}
.order_car{
    border-radius: 16px;
    top: 26px;
    position: absolute;
}
.order_man {
    top: 0px;
    border-radius: 16px;
    left: 919px;
    position: absolute;
}
.order_text{
    position: relative;
    z-index: 10;
    width: 1136px;
    margin: 0 auto;
    height: 218px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.order_text h2{
    width: 520px;
    color: #0B202F;
    padding-top: 32px;
    font-size: 32px;
    font-weight: 600;
}
.order_text h2>span {
    color: #046FB3;
}
.order_text p {
    font-size: 16px;
    font-weight: 400;
}
.order_inputs {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 78.5%;
}
.order_inputs input {
    z-index: 999;
    padding-left: 16px;
    font-size: 16px;
    width: 309px;
    font-weight: 400;
    height: 48px;
    border: 1px #D8E9FF solid;
    border-radius: 6px;
}
.order_inputs input:hover {
    border: 1px #046FB3 solid;
}
.order_inputs button {
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    width: 220px;
    height: 48px;
    background-color: #046FB3;
    cursor: pointer;
    transition: 0.2s;
}
.order_inputs button:hover {
    border: #046FB3 1px solid;
    color: #046FB3;
    background-color: #FFFFFF;
    transition: 0.2s;
}
.cars {
    margin-top: 133px;
    height: 746px;
}
.cars_cards {
    height: 638px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.cars_cards-blue {
    position: relative;
    border-radius: 10px;
    width: 282px;
    height: 84px;
    background-color: #046FB3;
}
.cars_cards-blue6 {
    position: relative;
    border-radius: 10px;
    width: 282px;
    height: 84px;
    background-color: #046FB3;
}
.cars_cards-white {
    z-index: 1;
    top: 68px;
    position: absolute;
    border-radius: 10px;
    width: 282px;
    height: 122px;
    background-color: #EDF2F5;
}
.cars_cards-blue img {
    position: absolute;
    bottom: 17px;
    left: 11px;
}
.cars_cards-blue6 img {
    position: absolute;
    bottom: 17px;
    left: 11px;
}
.cars_cards-blue2 {
    position: relative;
    border-radius: 10px;
    width: 282px;
    height: 84px;
    background-color: #046FB3;
}
.cars_cards-blue2 img {
    position: absolute;
    bottom: 17px;
}
.cars_cards-blue3 {
    position: relative;
    border-radius: 10px;
    width: 282px;
    height: 84px;
    background-color: #046FB3;
}
.cars_cards-white3 {
    z-index: 1;
    top: 68px;
    position: absolute;
    border-radius: 10px;
    width: 282px;
    height: 122px;
    background-color: #EDF2F5;
}
.cars_cards-blue3 img {
    z-index: 0;
    position: absolute;
    bottom: -4px;
    left: 7px;
}
.cars_cards-blue4 {
    position: relative;
    border-radius: 10px;
    width: 282px;
    height: 84px;
    background-color: #046FB3;
}
.cars_cards-white4 {
    z-index: 1;
    top: 68px;
    position: absolute;
    border-radius: 10px;
    width: 282px;
    height: 122px;
    background-color: #EDF2F5;
}
.cars_cards-blue4 img {
    z-index: 0;
    position: absolute;
    bottom: -26px;
    left: 9px;
}
.cars_cards-blue5 {
    position: relative;
    border-radius: 10px;
    width: 282px;
    height: 84px;
    background-color: #046FB3;
}
.cars_cards-blue5 img {
    z-index: 0;
    position: absolute;
    bottom: 17px;
    left: 4px;
}
.cars_container {
    height: 98px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 234px;
    margin: 0 auto;
}
.cars_container2 {
    height: 98px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 234px;
    margin: 0 auto;
}
.cars_container-price {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 147px;
    height: 35px;
    border-radius: 6px;
    background-color: #FFFFFF;
}
.cars_container-price2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 147px;
    height: 35px;
    border-radius: 6px;
    background-color: #FFFFFF;
}
.cars_container-text-div {
    padding-top: 24px;
    font-size: 22px;
    font-weight: 600;
}
.cars_container-text-div2 {
    padding-top: 24px;
    font-size: 22px;
    font-weight: 600;
}
.cars_container div p {
    font-size: 22px;
    font-weight: 600;
}
.cars_container2 div p {
    font-size: 22px;
    font-weight: 600;
}
.cars_container div p>span {
    font-size: 22px;
    font-weight: 500;
}
.cars_container2 div p>span {
    font-size: 22px;
    font-weight: 500;
}
.reviews {
    transition: all ease 1s;
    overflow: hidden;
    margin-top: 120px;
    height: 1033px;
    background-color: #EEF3F6;
}
.reviews_slider {
    height: 264px;
}
.reviews_slider h2 {
    padding-top: 72px;
    font-size: 40px;
    font-weight: 700;
}
.reviews_card {
    transition: all ease 1s;
    width: 384px;
    height: 264px;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.reviews_container {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding-top: 24px;
    width: 336px;
    height: 64px;
    margin: 0 auto;
}
.reviews_text p {
    padding-top: 0px;
    font-size: 17px;
    font-weight: 600;
    color: #046FB3;
}
.reviews_text {
    width: 260px;
    height: 44px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;
}
.stars {
    width: 228px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.stars p {
    display: flex;
    align-items: flex-end;
    font-size: 14px;
    font-weight: 400;
}
.stars div {
    display: flex;
    align-items: flex-end;
}
.rewiws_textp p {
    width: 336px;
    height: 110px;
    padding-top: 16px;
    font-size: 16px;
    font-weight: 400;
    overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 6;
	-webkit-box-orient: vertical;
}
.rewiws_textp {
    display: flex;
    justify-content: center;
}
.reviews_cards {
    width: 1610px;
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 0;
    transition: all ease 1s;
}
.button_slider {
    display: flex;
    justify-content: space-between;
}
.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 73px;
    width: 112px;
}
.buttons_1 {
    background: transparent;
    border-radius: 4px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
}
.buttons_2 {
    border-radius: 4px;
    background-color: #FFFFFF;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
}
.buttons_1:hover {
    border: 1px #046FB3 solid;
}
.buttons_2:hover {
    border: 1px #046FB3 solid;
}
.reviews_imgs {
    overflow-x: auto;
    scroll-snap-type: x;
    user-select: none;
    margin-top: 56px;
    display: flex;
    justify-content: space-between;
}
.reviews_imgs::-webkit-scrollbar {
    display: none;
}
.reviews_imgs div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.map {
    overflow: hidden;
    display: flex;
    justify-content: center;
    height: 504px;
}
footer {
    height: 300px;
    margin-top: 64px;
}
.logo {
    height: 202px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.footer_adress {
    height: 72px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.footer_addres3 {
    font-size: 16px;
    font-weight: 500;
    color: #5F84A0;
}
.footer_addres2 {
    font-family: "Raleway", sans-serif;
    color: black;
    width: 282px;
    font-size: 18px;
    font-weight: 500;
}
.footer_chelzap-alcon {
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer_chelzap {
    font-size: 16px;
    font-weight: 500;
    color: #5F84A0;
}
.footer_alcon {
    font-size: 16px;
    font-weight: 500;
    color: #BED0DB;
}
.logo img {
    height: 23px;
    width: 195px;
}
.footer {
    display: flex;
    justify-content: space-between;
}
.footer_variants {
    padding-right: 74px;
    width: 216px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 166px;
}
.footer_variants3 {
    width: 688px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 22px;
    display: none;
}
.footer_variants3 p {
    color: black;
    font-size: 18px;
    font-weight: 500;
}
.footer_variants p {
    color: black;
    font-size: 18px;
    font-weight: 500;
}
.footer_contacts {
    height: 194px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header_card1 {
    display: flex;
    align-items: center;
    border-radius: 12px;
    width: 336px;
    height: 53px;
    background-color: #F2F6F9;
}
.header_card1 img {
    padding-left: 8px;
}
.footer_card1 {
    display: flex;
    align-items: center;
    border-radius: 12px;
    width: 384px;
    height: 53px;
    background-color: #F2F6F9;
}
.footer_contacts div img {
    padding-left: 8px;
}
.footer_contacts-inf {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 41px;
    padding-left: 16px;
}
.footer_contacts-inf h2 {
    font-weight: 600;
    font-size: 20px;
    color: #046FB3;
}
.footer_contacts-inf p {
    font-size: 14px;
    font-weight: 500;
    color: #5F84A0;
}
.header_card {
    display: flex;
    align-items: center;
    border-radius: 12px;
    width: 336px;
    height: 53px;
    background-color: #F2F6F9;
}
.header_card p {
    padding-left: 16px;
    font-size: 20px;
    font-weight: 500;
}
.header_card img {
    padding-left: 8px;
}
.footer_card3 {
    display: flex;
    align-items: center;
    border-radius: 12px;
    width: 384px;
    height: 53px;
    background-color: #F2F6F9;
}
.footer_card3 p {
    padding-left: 16px;
    font-size: 20px;
    font-weight: 500;
}
.popup {
    cursor: pointer;
    margin-top: 12px;
    display: flex;
    justify-content: center;
}
.in {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0px;
    font-size: 12px;
    font-weight: 400;
    color: #046FB3;
}
.popup .out {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0px;
    font-size: 14px;
    font-weight: 400;
    color: #046FB3;
    display: none;
}
.img_frame {
    display: none;
}
.shadow_img2 {
    width: 688px;
    height: 233px;
    position: relative;
}
.img_frame-text {
    font-size: 14px;
    font-weight: 400;
    top: 32px;
    left: 404px;
    position: absolute;
}
.img_frame-text2 {
    font-size: 14px;
    font-weight: 400;
    top: 77px;
    left: 439px;
    position: absolute;
}
.img_frame-text3 {
    font-size: 14px;
    font-weight: 400;
    top: 122px;
    left: 344px;
    position: absolute;
}
.img_frame-text4 {
    font-size: 14px;
    font-weight: 400;
    top: 167px;
    left: 402px;
    position: absolute;
}
.img_frame320px {
    display: flex;
    justify-content: center;
    display: none;
}
.shadow_img3 {
    position: relative;
    width: 288px;
    height: 233px;
}
.shadow_img3-text {
    font-size: 12px;
    font-weight: 400;
    top: 20px;
    left: 91px;
    position: absolute;
}
.shadow_img3-text2 {
    font-size: 12px;
    font-weight: 400;
    top: 78px;
    left: 81px;
    position: absolute;
}
.shadow_img3-text3 {
    font-size: 12px;
    font-weight: 400;
    top: 121px;
    left: 67px;
    position: absolute;
}
.shadow_img3-text4 {
    font-size: 12px;
    font-weight: 400;
    top: 179px;
    left: 42px;
    position: absolute;
}

.drop-down {
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 40px;
    height: 40px;
    display: none;
}
.line {
    border-radius: 2px;
    height: 2px;
    width: 26px;
    background-color: #046FB3;
}
.input_768px {
    display: none;
}
.ring {
    z-index: 999;
    top: 174px;
    left: 133px;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 344px;
    height: 358px;
    border-radius: 24px;
    background-color: #EDF2F5;
    display: none;
}
.order_inputs2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.order_inputs2 input {
    z-index: 999;
    padding-left: 16px;
    font-size: 16px;
    width: 304px;
    font-weight: 400;
    height: 48px;
    border: 1px #D8E9FF solid;
    border-radius: 6px;
}
.order_inputs2 input:hover {
    border: 1px #046FB3 solid;
}
.order_inputs2 button {
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    width: 220px;
    height: 48px;
    background-color: #046FB3;
    cursor: pointer;
    transition: 0.2s;
}
.order_inputs2-text {
    display: flex;
    width: 304px;
    justify-content: space-between;
}
.order_inputs2-text p {
    font-weight: 700;
    width: 212.84px;
    font-size: 22px;
}
.img_icon {
    height: 32px;
    cursor: pointer;
}
.services_click2 {
    font-size: 12px;
    width: 304px;
    color: #132B3D;
}
.container1 {
    width: 1200px;
    margin: 0 auto;
}
.container2 {
    width: 1200px;
    margin: 0 auto;
}
.text_on-img {
    margin-top: 24px;
    position: relative;
    height: 399px;
}
.img_none-text {
    align-items: end;
    text-align: end;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    height: 182px;
    top: 41px;
    left: 67px;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
}
.img_none-text250px {
    text-align: start;
    width: 250px;
}
.footer_variants2 p {
    color: black;
    font-size: 18px;
    font-weight: 500;
}
.order_320px {
    display: none;
}
.img_logo768px {
    display: none;
}
.header_menu-navigation p {
    font-family: "Raleway", sans-serif;
    color: black;
}
.reviews_imgs5 {
    display: none;
}
.img_none-text div {
    margin-bottom: 29px;
}
.card1 {
    display: flex;
    flex-direction: column;
    width: 384px;
    height: 234px;
}
.blue_card {
    margin-bottom: -13px;
    position: relative;
    border-radius: 10px;
    width: 384px;
    height: 103px;
    background-color:#046FB3;
}
.blue_card2 {
    margin-bottom: -13px;
    position: relative;
    border-radius: 10px;
    width: 384px;
    height: 103px;
    background-color:#046FB3;
}
.blue_card3 {
    margin-bottom: -13px;
    position: relative;
    border-radius: 10px;
    width: 384px;
    height: 103px;
    background-color:#046FB3;
}
.blue_card4 {
    margin-bottom: -13px;
    position: relative;
    border-radius: 10px;
    width: 384px;
    height: 103px;
    background-color:#046FB3;
}
.white_card {
    z-index: 999;
    border-radius: 10px;
    background-color: white;
    width: 384px;
    height: 148px;
}
.white_card2 {
    z-index: 999;
    border-radius: 10px;
    background-color: white;
    width: 384px;
    height: 148px;
}
.container_card3 {
    width: 336px;
    margin: 0 auto;
}
.container_card3 div {
    padding-top: 24px;
    font-size: 22px;
    font-weight: 600;
}
.container_card3 p {
    width: 292px;
    padding-top: 13px;
    font-size: 16px;
    font-weight: 400;
}
.blue_card img {
    position: absolute;
    z-index: 0;
    bottom: -7px;
}
.card_price {
    top: 24px;
    left: 213px;
    position: relative;
    width: 147px;
    height: 35px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    align-items: center;
}
.card_price h2 {
    font-size: 22px;
    font-weight: 500;
}
.card_price h2>span {
    font-size: 16px;
    font-weight: 400;
}
.blue_card2 img {
    position: absolute;
    z-index: 0;
    bottom: -17px;
}
.blue_card3 img {
    position: absolute;
    z-index: 0;
    bottom: -26px;
}
.crush {
    left: 8px;
    position: absolute;
    z-index: 0;
    bottom: -72px;
}
.sign {
    top: -7px;
    left: 117px;
    position: absolute;
    z-index: 0;
}
.card_flex-text-p {
    font-size: 16px;
}
.card_car {
    display: flex;
    flex-direction: column;
    width: 282px;;
    height: 190px;
}
.blue_card-cars {
    margin-bottom: -13px;
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 84px;
    background-color:#046FB3;
}
.white_card-cars {
    z-index: 999;
    border-radius: 10px;
    background-color: #EDF2F5;
    width: 100%;
    height: 122px;
}
.container_card-cars {
    height: 100%;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    width: 233px;
    margin: 0 auto;

}
.container_card-cars div {
    font-size: 22px;
    font-weight: 600;
}
.container_card-cars p {
    padding-top: 16px;
    font-size: 16px;
    font-weight: 400;
}
.blue_card-cars img {
    position: absolute;
    z-index: 0;
    left: 11px;
    bottom: 11px;
}
.card_price-cars {
    width: 147px;
    height: 35px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    align-items: center;
}
.card_price-cars2 {
    width: 147px;
    height: 35px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    align-items: center;
}
.card_price-cars h2 {
    font-size: 22px;
    font-weight: 600;
}
.passenger_car {
    left: 0px !important;
}
.spec {
    left: 8px !important;
    bottom: -9px !important;
}
.boat {
    bottom: -31px !important;
}
.gruz {
    left: 3px !important;
}
.reviews_imgs320px {
    display: none;
}
/*----------------------------------------------АДАПТАЦИЯ----------------------------------------------------*/

/*----------------------------------------------header----------------------------------------------------*/
@media (max-width:1456px) {
    .services_cars {
        width: 100%;
        border-radius: 0px;
    }
}
@media (max-width:1220px) {
    .container {
        width: 100%;
    }
    .container1 {
        width: 100%;
    }
}
@media (max-width:1300px) {
    .header2 {
        width: 99%;
    }
    .header_adaptation {
        padding-left: 40px;
        padding-right: 40px;
    }
    .header_adaptation2 {
        width: 90.7%;
        padding-left: 40px;
        padding-right: 40px;
    }
    .header_menu-navigation {
        display: none;
    }
    .drop-down {
        display: flex;
    }
    .phone_768_320 {
        width: 278px;
        display: flex;
        justify-content: space-between;
    }
    .phone2 {
        margin-top: 61px;
    }
    .footer_variants2 {
        margin-top: 61px;
        height: 184px;
    }
    .phone img {
        padding-left: 8px;
    }
    .logo_2 {
        border-radius: 0px;
        height: 64px;
    }
    .img_1 {
        padding-top: 4px;
        width: 126px;
        height: 16px;
    }
    .container {
        width: 100%;
    }
    .header_img-logo {
        padding-top: 4px;
        width: 126px;
        height: 16px;
    }
    .header_container {
        width: 90.7%;
    }
    .drop-down {
        height: 31px;
    }
    .header {
        height: 64px;
    }
}
@media (max-width:767px) {
    .header2 {
        border-radius: 0px;
        width: 100%;
    }
}
@media (max-width:688px) {
    .footer_contacts2 {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .header_card1 {
        width: 288px;
    }
    .header_card {
        font-weight: 500;
        font-size: 18px;
        width: 288px;
    }
    .footer_contacts2 {
        height: 137px;
    }
} 
@media (max-width:767px) {
    .header_adaptation2 {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
    .header_adaptation {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
    .container {
        width: 100%;
    }
    .phone p {
        display: none;
    }
    .phone {
        width: 48px;
        height: 36px;
    }
    .phone img {
        padding-left: 0;
    }
    .phone_768_320 {
        width: 90px;
        align-items: center;
    }
    .header_card1 h2 {
        font-size: 18px;
    }
    .header_card p {
        font-size: 18px;
    }
    .footer_variants2 {
        margin-top: 46px;
        height: 172px;
    }
    .header_img-logo {
        padding-top: 6px;
    }
    .header {
        border-radius: 0px;
        height: 60px;
    }
    .drop-down {
        height: 27px;
    }
    .line {
        width: 21.33px;
    }
} 
@media (max-width:420px) {
    .footer_variants2 {
        width: 100%;
    }
    .footer_contacts2 {
        height: 117px;
    }
    .header2 {
        height: 541px;
    }
}
/*----------------------------------------------header----------------------------------------------------*/

/*----------------------------------------------servises----------------------------------------------------*/
@media (max-width:1200px) {
    .container1 {
        width: 100%;
    }
}
@media (max-width:1300px) {
    .img_none {
        display: none;
    }
    .img_none-text {
        display: none;
    }
    .img_none-text2 {
        display: none;
    }
    .img_none-text3 {
        display: none;
    }
    .img_none-text4 {
        display: none;
    }
    .img_frame {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .container1 {
        flex-direction: column;
        display: flex;
        align-items: center;
    }
    .services {
        justify-content: center;
        margin-top: 24px;
        height: 384px;
        width: 92%;
    }
    .shadow_img2 {
        margin-top: 12px;
    }
    .services_towtruck-text-h {
        width: 537.5px;
        font-size: 38px;
        font-weight: 700;
    }
    .services_towtruck-text-l {
        font-size: 20px;
        font-weight: 400;
    }
    .services_towtruck-text {
        height: 182px
    }
    .input_1200px {
        display: none;
    }
    .input_768px {
        display: flex;
    }
    .services_cut {
        width: 624px;
        justify-content: space-between;
        display: flex;
    }
    .services_cut input {
        width: 373px;
    }
}
@media (max-width:767px) {
    .shadow_img2 {
        display: none;
    }
    .img_frame-text {
        display: none;
    }
    .img_frame-text2 {
        display: none;
    }
    .img_frame-text3 {
        display: none;
    }
    .img_frame-text4 {
        display: none;
    }
    .img_frame320px {
        display: flex;
        margin-top: 17px;
    }
    .services {
        width: 100%;
    }
    .input_768px {
        display: none;
    }
    .services_phone {
        width: 100%;
    }
    .services_cut {
        width: 100%;
    }
    .button_1200px {
        display: none;
    }
    .button_adaptation {
        display: inline;
    }
    .services_towtruck-text {
        width: 100%;
    }
    .services_towtruck-text-h {
        width: 100%;
    }
    .services {
        margin-top: 17px;
        width: 92%;
        height: 347px;
        border-radius: 16px;
    }
    .services_towtruck-text-h {
        padding-right: 11px;
        font-size: 24px;
        font-weight: 700;
        width: 263px;
    }
    .services_towtruck-text-l {
        font-size: 18px;
        font-weight: 400;
        width: 232px;
    }
    .services_click {
        display: none;
    }
    .services_adaptation {
        display: inline;
        padding-top: 9px;
        line-height: 13.2px;
        width: 256px;
        font-size: 11px;
    }
    .services_towtruck-text {
        height: 147px;
    }
    .services_towtruck {
        padding-top: 3px;
    }
    .button_adaptation {
        width: 256px;
    }
}
/*----------------------------------------------servises----------------------------------------------------*/


/*----------------------------------------------dignities----------------------------------------------------*/
@media (max-width:1300px) {
    .dignities_cards {
        padding-left: 40px;
        padding-right: 40px;
    }
    .card {
        height: 248px;
        width: 336px;
    }
    .container_card {
        width: 288px;
    }
    .card_flex-text {
        font-size: 22px;
    }
    .number p {
        font-size: 22px;
    }
    .dignities_p {
        padding-left: 40px;
        font-size: 32px;
    }
    .dignities {
        margin-top: 62px;
    }
    .dignities_cards {
        margin-top: 32px;
        gap: 16px;
    }
    .card_flex {
        height: 223px
    }
    .card {
        margin-top: 0px;
    }
}
@media (max-width:785px) {
    .dignities_cards {
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (max-width:767px) {
    .dignities {
        height: 396px;
    }
    .swiper-wrapper {
        height: 250px !important;
        flex-wrap: nowrap;
    }
    .swiper-slide {
        width: 256px !important;
    }
    .card {
        height: 248px;
        width: 256px;
    }
    .container_card {
        width: 224px;
    }
    .container {
        width: 100%;
    }
    .card_flex-text {
        font-size: 20px;
    }
    .card_flex p {
        font-size: 14px;
    }
    .card_flex2 p {
        font-size: 14px;
    }
    .card_flex3 p {
        font-size: 14px;
    }
    .number p {
        font-size: 22px;
    }
    .dignities_cards {
        padding-left: 18px;
        flex-wrap: nowrap;
        overflow-x: auto;
        scroll-snap-type: x;
        user-select: none;
    }
    .dignities_cards::-webkit-scrollbar {
        display: none;
    }
    .dignities_p {
        padding-left: 16px;
        font-size: 28px;
    }
    .container_card {
        width: 256px;
    }
    .card_flex {
        padding-left: 14px;
        height: 198px;
    }
    .card_flex2 {
        padding-left: 14px;
        height: 198px;
    }
    .card_flex3 {
        padding-left: 14px;
        height: 198px;
    }
}

/*----------------------------------------------dignities----------------------------------------------------*/


/*----------------------------------------------services_cars----------------------------------------------------*/
@media (max-width:1300px) {
    .services_cars-cadrs {
        padding-left: 40px;
        padding-right: 40px;
    }
}
@media (max-width:1302px) {
    .container_card3 {
        width: 284px;
    }
    .card1 {
        width: 332px;
    }
    .blue_card {
        border-radius: 10px;
        width: 332px;
    }
    .blue_card1 {
        border-radius: 10px;
        width: 332px;
    }
    .blue_card2 {
        border-radius: 10px;
        width: 332px;
    }
    .blue_card3 {
        border-radius: 10px;
        width: 332px;
    }
    .blue_card4 {
        border-radius: 10px;
        width: 332px;
    }
    .blue_card5 {
        border-radius: 10px;
        width: 332px;
    }
    .white_card {
        height: 132px;
        top: 91px;
        border-radius: 10px;
        width: 332px;
    }
    .white_card1 {
        height: 132px;
        top: 91px;
        border-radius: 10px;
        width: 332px;
    }
    .white_card2 {
        height: 132px;
        top: 91px;
        border-radius: 10px;
        width: 332px;
    }
    .white_card5 {
        height: 132px;
        top: 91px;
        border-radius: 10px;
        width: 332px;
    }
    .card_price {
        left: 151px;
    }
    .blue_card img {
        width: 332px;
    }
    .blue_card1 img {
        width: 332px;
    }
    .blue_card2 img {
        width: 332px;
    }
    .blue_card3 img {
        width: 332px;
    }
    .crush {
        width: 187px;
    }
    .sign {
        width: 102px;
    }
    .container_card2 div {
        font-size: 18px;
    }
    .container_card3 div {
        font-size: 18px;
    }
    .container_card2 p {
        font-size: 14px;
    }
    .container_card3 p {
        font-size: 14px;
    }
    .container_card2 {
        width: 294px;
    }
}
@media (max-width:1092px) {
    .card_price {
        top: 18px;
        left: 168px;
    }
    .services_cars-text p {
        font-size: 32px;
        font-weight: 700;
        width: 458.65px;
    }
    .services_cars {
        margin-top: 65px;
    }
    .container_card2 div {
        width: 276px;
    }
    .blue_card5 {
        margin-top: 53px;
    }
    .blue_card1 {
        margin-top: 53px;
    }
    .blue_card4 {
        margin-top: 0px;
    }
    .blue_card2 {
        margin-top: 0px;
    }
    .blue_card3 {
        border-radius: 10px;
        margin-top: 0px;
    }
    .services_cars {
        height: 1024px;
    }
    .services_cars-cadrs {
        margin-top: 55px;
    }
    .container_card2 {
        width: 283px;
    }
    .container_card3 {
        width: 283px;
    }
    .container_card2 div {
        padding-top: 20px;
    }
    .container_card3 div {
        padding-top: 20px;
    }
    .blue_card5 img {
        width: 324px;
    }
    .blue_card2 img {
        width: 311px;
    }
    .img_road {
        bottom: -77px;
    }
    .container_card3 p {
        line-height: 17.07px;
        font-size: 14px;
    }
    .container_card2 p {
        line-height: 17.07px;
        font-size: 14px;
    }
    .services_cars-cadrs {
        row-gap: 42px;
    }
}
@media (max-width:765px) {
    .services_cars-cadrs {
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .services_cars-cadrs {
        margin-top: 40px;
    }
    .card1 {
        width: 288px;
    }
    .services_cars {
        height: 1834px;
    }
    .services_cars-cadrs {
        flex-direction: column;
        align-items: center;
    }
    .services_cars-text p {
        font-size: 28px;
        width: 288px;
    }
    .blue_card {
        width: 288px;
    }
    .blue_card1 {
        width: 288px;
    }
    .blue_card2 {
        width: 288px;
    }
    .blue_card3 {
        width: 288px;
    }
    .blue_card4 {
        width: 288px;
    }
    .blue_card5 {
        width: 288px;
    }
    .white_card {
        width: 288px;
        height: 133px;
    }
    .white_card1 {
        width: 288px;
        height: 133px;
    }
    .white_card2 {
        width: 288px;
        height: 161px;
    }
    .white_card5 {
        top: 83px;
        width: 288px;
        height: 152px
    }
    .services_cars-text {
        padding-top: 40px;
    }
    .blue_card5 {
        margin-top: 0px;
    }
    .blue_card1 {
        margin-top: 40px;
    }
    .services_cars {
        margin-top: 64px;
    }
    .container_card3 {
        width: 241px;
    }
    .container_card2 {
        width: 246px;
    }
    .card_price {
        left: 124px;
    }
    .blue_card img{
        width: 288px;
    }
    .blue_card1 img {
        width: 288px;
    }
    .blue_card2 img {
        width: 284px;
    }
    .blue_card3 img {
        width: 288px;
    }
    .container_card3 div {
        font-size: 18px;
    }
    .container_card2 div {
        padding-top: 23px;
        width: 274px;
        font-size: 18px;
    }
    .container_card3 p {
        width: 250px;
    }
    .container_card2 p {
        width: 250px;
    }
    .container_card2 p >span {
        display: none;
    }
    .container_card3 p >span {
        display: none;
    }
}
/*----------------------------------------------services_cars----------------------------------------------------*/

/*----------------------------------------------order----------------------------------------------------*/
@media (max-width:1220px) {
    .container2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .order_text {
        width: 100%;
        align-items: center;
        flex-direction: column;
    }
    .order_man {
        display: none;
    }
    .order_car {
        display: none;
    }
    .order {
        margin-top: 66px;
        width: 688px;
        height: 234px;
    }
    .order_text {
        width: 640px;
        align-items: flex-start;
    }
    .order_inputs {
        width: 640px;
    }
    .order_inputs input {
        width: 177.5px;
    }
    .order_text h2 {
        padding-top: 23px;
    }
    .order_text {
        height: 210px;
    }
    .order_inputs button {
        width: 226px;
    }
}
@media (max-width:750px) {
    .order {
        width: 100%;
    }
    .order_text {
        width: 100%;
    }
    .order_inputs {
        width: 100%;
    }
    .order_inputs input {
        display: none;
    }
    .order {
        margin-top: 64px;
        width: 288px;
        height: 342px;
    }
    .order_text h2 {
        font-size: 24px;
        width: 256px;
    }
    .order_text {
        height: 325px;
        width: 256px;
        align-items: center;
    }
    .order_320px {
        line-height: 13.2px;
        color: #1C1C1C;
        display: inline;
        font-size: 11px;
        font-weight: 400;
    }
    .order_inputs {
        justify-content: space-between;
        height: 116px;
        display: flex;
        flex-direction: column;
    }
    .order_inputs button {
        width: 256px;
    }
    .order_text p {
        font-size: 14px;
        font-weight: 400;
    }
}
/*----------------------------------------------order----------------------------------------------------*/


/*----------------------------------------------cars----------------------------------------------------*/
@media (max-width:1300px) {
    .mySwiper2 .swiper-wrapper .swiper-slide {
        width: 213.33px !important;
    }
    .mySwiper2 .swiper-wrapper {
        row-gap: 56px !important;
    }
    .card_car {
        width: 213.33px;
    }
    .container_card-cars {
        width: 181.33px;
    }
    .passenger_car {
        width: 213px;
    }
    .vned {
        left: 2px !important;
        width: 213px;
    }
    .spec {
        width: 213px;
        left: 0px !important;
        bottom: 2px !important;
    }
    .blue_card-cars {
        height: 103px;
    }
    .white_card-cars {
        height: 109px;
    }
    .boat {
        bottom: -19px !important;
        left: 1px !important;
        width: 214px;
    }
    .gruz {
        width: 213px;
    }
    .micro {
        left: 1px !important;
        bottom: 13px !important;
        width: 213px;
    }
    .cran {
        left: 1px !important;
        bottom: 12px !important;
        width: 213px;
    }
    .cars {
        margin-top: 78px;
        height: 952px;
    }
    .cars_cards-first {
        width: 688px;
    }
    .cars_cards {
        align-items: center;
    }
    .container_card-cars div {
        font-size: 18px;
    }
    .card_price-cars {
        font-size: 18px;
        font-weight: 500;
    }
}
@media (max-width:767px) {
    .cars {
        height: 200px;
    }
    .cars_cards {
        align-items: flex-start;
        height: 238px;
    }
    .card_car {
        width: 240px;
    }   
    .container_card-cars {
        width: 208px;
    }
}
/*----------------------------------------------cars----------------------------------------------------*/


/*----------------------------------------------reviews----------------------------------------------------*/
@media (max-width:1300px) {
    .reviews {
        padding-left: 40px;
        padding-right: 40px;
    }
    .reviews_imgs1 {
        width: 335px;
        height: 455px;
    }
    .reviews_imgs2 {
        width: 335px;
        height: 219px;
    }
    .reviews_imgs3 {
        display: none;
    }
    .reviews_imgs5 {
        display: inline;
    }
    .reviews_imgs4 {
        display: none;
    }
    .reviews {
        height: 953px;
        margin-top: 81px;
    }
    .reviews_slider h2 {
        padding-top: 56px;
        font-size: 32px;
    }
    .buttons {
        margin-top: 48px;
    }
    .rewiws_textp p {
        line-height: 22.4px;
    }
    .reviews_imgs {
        margin-top: 40px;
    }
}
@media (max-width:767px) {
    .reviews {
        padding-left: 16px;
        margin-top: 64px;
    }
    .reviews_slider h2 {
        padding-top: 39px;
        font-size: 28px;
        width: 192px;
    }
    .reviews_card {
        width: 272px;
        height: 333.31px;
    }
    .reviews_container {
        flex-direction: column;
        align-items: flex-start;
    }
    .rewiws_textp p {
        font-size: 14px;
        width: 240px;
        padding-top: 69px;
        line-height: 19.6px;
        height: 140px;
    }
    .reviews_container {
        width: 240px;
    }
    .reviews_text {
        width: 100%;
    }
    .reviews_imgs1 {
        display: none;
    }
    .reviews_imgs320px {
        display: inline;
    }
    .reviews_imgs2 {
        border-radius: 24px;
        width: 256px;
        height: 220px;
    }
    .reviews_imgs5 {
        border-radius: 24px;
        width: 256px;
        height: 220px;
    }
    .reviews_imgs4 {
        border-radius: 24px;
        width: 256px;
        height: 220px;
    }
    .reviews_imgs div {
        gap: 16px;
        width: 538px;
        display: flex;
        flex-direction: row;
    }
    .img1 {
        width: 256px;
    }
    .reviews_imgs {
        gap: 16px;
        margin-top: 21px;
    }
    .reviews_slider {
        height: 518px;
    }
    .buttons { 
        padding-left: 21px;
        align-items: flex-end;
    }
    .buttons_1 {
        width: 40px;
        height: 40px;
    }
    .buttons_2 {
        margin-right: 16px;
        justify-content: space-evenly;
        width: 40px;
        height: 40px;
    }
    .reviews_container {
        padding-top: 17px;
    }
    .stars p {
        font-size: 12px;
    }
    .reviews_text p {
        padding-top: 11px;
    }
    .stars {
        align-items: end;
        width: 208px;
    }
}

/*----------------------------------------------reviews----------------------------------------------------*/


/*----------------------------------------------footer----------------------------------------------------*/

@media (max-width:1300px) {
    .container_footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    footer {
        margin-top: 39px;
    }
    .footer_variants3 {
        width: 684px;
        display: flex;
    }
    .footer_variants {
        display: none;
    }
    .img_logo768px {
        padding-left: 32px;
        display: inline;
    }
    .logo img {
        display: none;
    }
    .footer {
        margin-top: 28px;
        align-items: center;
        display: flex;
        width: 688px;
        flex-wrap: wrap;
    }
    .map {
        height: 416px;
    }
    .footer_adress {
        height: 77px;
    }
    .footer_addres2 {
        font-weight: 500;
        padding-bottom: 6px;
        line-height: 21.6px;
        width: 292px;
    }
    .footer_chelzap-alcon {
        height: 82px;
    }
    .footer_alcon {
        padding-bottom: 35px;
    }
    .footer_card1 {
        width: 384px;
    }
    .footer_card3 {
        width: 384px;
    }
    .footer_contacts {
        padding-top: 31px;
    }
}
@media (max-width:767px) {
    .footer_variants3 {
        display: none;
    }
    .footer_variants {
        display: flex;
    }
    footer {
        height: 698px;
    }
    .footer {
        flex-direction: column;
        display: flex;
        height: 698px;
        width: 100%;
    }
    .footer_contacts {
        height: 194px;
    }
    .img_logo768px {
        padding-left: 16px;
    }
    .footer_card1 {
        width: 288px;
    }
    .footer_card3 {
        width: 288px;
    }
    .footer_adress {
        height: 87px;
    }
    .footer_addres2 {
        padding-bottom: 44px;
    }
    .footer {
        height: 643px;
    }
    .footer_chelzap-alcon {
        height: 48px;
    }
    .footer_contacts {
        margin-top: 32px;
        padding-top: 0px;
    }
    .footer_variants {
        margin-top: 30px;
    }
    .footer_alcon {
        padding-bottom: 0px;
    }
    .logo {
        width: 100%;
        height: 148px;
    }
    .footer {
        width: 268px;
        justify-content: start;
        padding-left: 16px;
        align-items: flex-start;
    }
    .reviews  {
        height: 807px;
    }
    .footer_card3 p {
        font-size: 18px;
    }
    .footer_contacts a {
        width: 286px;
    }
    .footer_card1 {
        width: 100%;
    }
    .footer_card3 {
        width: 286px;
    }
} 
@media (max-width:355px) {
    .container_footer {
        align-items: flex-start;
    }
    .footer {
        padding-left: 10px;
    }
}
@media (max-width:1300px) {
    .button_slider h2 {
        font-size: 32px !important;
        font-weight: 700 !important;
    }
    .swiper2 {
        row-gap: 149px;
    }
}

/*----------------------------------------------footer----------------------------------------------------*/
.reviews_slider {
    margin-top: 32px;
}
.button_slider {
    align-items: flex-end;
}
.button_slider h2 {
    font-size: 40px;
    font-weight: 700;
}
.swiper {
    margin-top: 48px;
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-slide {
    width: 383.68px;
  }
  .swiper-wrapper {
    justify-content: space-between;
    row-gap: 24px;
  }
  .mySwiper2 .swiper-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .mySwiper2 .swiper-wrapper .swiper-slide {
    width: 282px;
  }
  @media (min-width:767px) {  
    .mySwiper3 .swiper-wrapper .swiper-slide{
        width: 384px;
        height: 264px;
    }
    .mySwiper3 .swiper-wrapper {
        gap: 24px;
    }
    .dignities_desktop .swiper-wrapper {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .dignities_desktop .swiper-wrapper .swiper-slide {
        width: auto;
    }
    .mySwiper2 .swiper-wrapper {
        height: auto !important;
        column-gap: 24px;
        row-gap: 88px;
    }
  }
  @media (max-width:767px) {
    .button_slider h2 {
        line-height: 34.13px;
        font-size: 28px !important;
    }
    .mySwiper3 .swiper-wrapper {
        gap: 24px;
    }
    .mySwiper3 .swiper-wrapper {
        height: 333px !important;
    }
    .swiper .swiper-wrapper {
        padding-left: 16px !important;
    }
    .swiper3 {
        width: 100%;
        height: 100%;
    }
    .swiper2 {
        padding-left: 16px;
        width: 100%;
        height: 100%;
    }
    .mySwiper2 .swiper-wrapper .swiper-slide {
        width: 240px !important;
    }
    .swiper-pagination {
        padding-top: 8px;
        position: relative !important;
        text-align: center;
        transition: .3s opacity;
        transform: translate3d(0, 0, 0);
        z-index: 10;
    }
    .swiper-pagination2 {
        text-align: center;
        transition: .3s opacity;
        transform: translate3d(0, 0, 0);
        z-index: 10;
    }
    .cars {
        height: 220px;
        overflow: hidden;
    }
    .mySwiper2 .swiper-wrapper {
        height: 196px !important;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: nowrap;
      }
  }


  /*----------------------------------------------map----------------------------------------------------*/
  .map_768px {
    display: none;
  }
  .map_320px {
    display: none;
  }
  @media (max-width:1200px) {   
    .map_768px {
        display: inline;
    }
    .map_full {
        display: none;
    }
  }
  @media (max-width:500px) {
    .map_768px {
        display: none;
    }
    .map_320px {
        display: inline;
    }
  }