*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
.container {
    margin: 0 auto;
    width: 1200px;
}
.header {
    margin-top: 32px;
    background-color: #EDF1F3;
    height: 80px;
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header_ready {
    font-family: "Raleway", sans-serif;
}
.header p {
    font-size: 17px;
    font-weight: 400;
}
.header_services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 78px;
}
.header_services p {
    font-family: "Raleway", sans-serif;
}
.header_job {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 132px;
}
.header_job p {
    font-family: "Raleway", sans-serif;
}
.header_company {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 119px;
}
.header_company p {
    font-family: "Raleway", sans-serif;
}
.phone {
    background-color: #046FB3;
    border-radius: 32px;
    font-family: "Montserrat", sans-serif;
    display: flex;
    width: 222px;
    height: 36px;
    align-items: center;
    justify-content: space-evenly;
}
.phone p {
    color: white;
    font-size: 18px;
}
.services {
    margin-top: 40px;
    background-color: #EDF2F5;
    height: 447px;
    border-radius: 24px;
    display: flex;
    justify-content: space-evenly;
}

.services_towtruck-text {
    height: 207px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.services_towtruck-text-h {
    width: 634px;
    font-size: 44px;
    font-weight: 700;
}
.services_towtruck-text-h>span {
    color: #046FB3;
}
.services_towtruck-text-l {
    font-size: 24px;
    font-weight: 400;
}
.services img {
    margin-top: 24px;
    width: 462px;
    height: 399px;
}
.services_phone {
    height: 102px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.services_input {
    width: 594px;
    display: flex;
    justify-content: space-between;
}
.services_input input {
    padding-left: 16px;
    font-size: 16px;
    width: 359px;
    height: 48px;
    border: 1px #D8E9FF solid;
    border-radius: 6px;
}
.services_input button {
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    width: 207px;
    height: 48px;
    border: none;
    background-color: #046FB3;
    color: white;
}
.services_click {
    width: 392px;
    font-size: 12px;
    color: #132B3D;
}
.services_towtruck {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.dignities {
    margin-top: 88px;
}
.dignities_p {
    font-size: 40px;
    font-weight: 700;
}
.dignities_cards {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card {
    width: 383.68px;
    height: 232px;
    border-radius: 16px;
    background-color: #EDF2F5;
}
.dignities_cards2 {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.number {
    margin-top: 24px;
    width: 45px;
    height: 35px;
    border: 1px #046FB3 solid;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.number p {
    color: #046FB3;
    font-size: 24px;
    font-weight: 500;
}
.container_card {
    margin: 0 auto;
    width: 335.68px;
}
.card_flex {
    height: 205px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card_flex2 {
    height: 185px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card_flex h3 {
    font-size: 24px;
    font-weight: 600;
}
.card_flex2 h3 {
    font-size: 24px;
    font-weight: 600;
}
.card_flex3 {
    height: 222px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card_flex3 h3 {
    font-size: 24px;
    font-weight: 600;
}


.services_cars {
    margin: 0 auto;
    margin-top: 88px;
    height: 868px;
    width: 1440px;
    border-radius: 12px;
    background-color: #071C2C;
}

.services_cars-text {
    padding-top: 56px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.services_cars-text p {
    width: 570px;
    color: white;
    font-size: 40px;
    font-weight: 700;
}
.services_cars-cadrs {
    margin-top: 72px;
    display: flex;
    justify-content: space-between;
}
.services_cars-cadrs2 {
    margin-top: 220px;
    display: flex;
    justify-content: space-between;
}
.white_card {
    z-index: 1;
    position: absolute;
    width: 384px;
    height: 147px;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.blue_card1 {
    position: relative;
    width: 384px;
    height: 103px;
    background-color: #046FB3;
    border-radius: 16px;
}
.white_card1 {
    top: 78px;
    position: absolute;
    z-index: 1;
    width: 384px;
    height: 147px;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.blue_card1 img {
    position: absolute;
    bottom: 0px;
}
.blue_card2 {
    position: relative;
    width: 384px;
    height: 103px;
    background-color: #046FB3;
    border-radius: 16px;
}
.blue_card2 img {
    position: absolute;
    bottom: 0px;
}
.white_card2 {
    top: 78px;
    position: absolute;
    z-index: 1;
    width: 384px;
    height: 147px;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.img_road {
    position: absolute;
    bottom:-62px;
}
.sign {
    top: -16px;
    position: absolute;
    left: 112px;
    width: 102px;
}
.blue_card3 {
    position: relative;
    width: 384px;
    height: 103px;
    background-color: #046FB3;
    border-radius: 16px;
}
.container_card {
    width: 294px;
    margin: 0 auto;

}
.container_card h3 {
    padding-top: 26px;
    font-size: 22px;
    font-weight: 600;
}
.container_card p {
    padding-top: 16px;
    font-size: 16px;
    font-weight: 400;
}
.container_card2 {
    width: 336px;
    margin: 0 auto;
}
.container_card2 h3 {
    width: 336px;
    padding-top: 26px;
    font-size: 22px;
    font-weight: 600;
}
.container_card2 p {
    width: 294px;
    padding-top: 16px;
    font-size: 16px;
    font-weight: 400;
}
.card_price {
    top: 24px;
    left: 213px;
    position: absolute;
    width: 147px;
    height: 35px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    z-index: 10;
    align-items: center;
}
.card_price h2 {
    font-size: 22px;
    font-weight: 500;
}
.card_price h2>span {
    font-size: 16px;
    font-weight: 400;
}
.order {
    margin-top: 88px;
    height: 250px;
    background-color: #EDF2F5;
}